<!DOCTYPE html>
<html>
<head>
    <link rel = stylesheet href="/../stylesheet/mystyle.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<div class="container">
    <div style="text-align:center">
        <h2>Hvem er vi?</h2>
        <p>Engberg bilservice</p>
    </div>
    <div class="row">
        <div class="column">
            <img src="/../images/engberg.jpg" style="width:100%">
        </div>
        <div class="column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac enim ut nisi luctus fermentum blandit ac nunc. Nulla sit amet tellus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis ac lectus vitae dolor vulputate bibendum et quis lacus. Quisque interdum, enim nec viverra viverra, elit erat posuere augue, sit amet elementum mi risus et felis. Phasellus fringilla semper dui, vel volutpat tellus rhoncus ut. Nunc ac magna euismod, tincidunt justo sit amet, venenatis sem. Fusce risus ipsum, luctus at tempus vel, lobortis maximus nunc.

                Phasellus sit amet odio nec tellus egestas luctus quis mattis urna. Proin tempus nunc sem, ac gravida massa ornare sit amet. Vivamus dapibus, nisi ut efficitur vulputate, ipsum sapien hendrerit diam, sed mollis nulla nisi vitae nulla. Phasellus sapien erat, commodo luctus rutrum id, faucibus at lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus nisl, dictum non quam vel, elementum imperdiet dolor. Nam vitae tortor venenatis, porttitor metus sed, ultrices massa. Suspendisse eros orci, venenatis ut condimentum id, hendrerit vel risus. Duis lobortis tristique mi eu semper. Vivamus sit amet sem cursus, pulvinar dolor eget, pharetra lacus. Nam suscipit in sem vel convallis.

                Cras blandit sit amet urna quis dignissim. Nunc in sem ultricies, luctus libero sit amet, varius libero. Maecenas pretium condimentum mattis. Aliquam ultrices, ipsum euismod volutpat aliquet, orci ligula tincidunt nisl, eu blandit purus quam a ipsum. Integer vitae nisi quis arcu tempor euismod vestibulum sit amet tortor. Fusce at posuere libero, eu elementum neque. Ut enim metus, dignissim in orci quis, eleifend mollis orci.

                Curabitur lobortis ipsum orci, in lobortis enim vehicula id. Fusce vitae est eu nunc semper ultricies. Maecenas quis bibendum libero, at maximus sem. Nunc ut semper velit, vitae ultrices arcu. Curabitur egestas felis non libero aliquet, non gravida lacus sagittis. Curabitur quis lorem ac felis consectetur lobortis eu in mauris. Vivamus hendrerit id velit a semper. Fusce vitae hendrerit mauris, in sollicitudin eros. Nulla eros magna, maximus sit amet mi at, porttitor viverra dui.

                Proin nec aliquet lorem, vel sodales neque. Ut tristique enim non purus tristique ornare. Morbi congue urna dui, at rhoncus tortor dictum ac. Aenean placerat a diam sed tincidunt. Nulla ante lacus, dictum et mauris a, pellentesque luctus velit. Fusce rutrum libero odio, nec efficitur ipsum condimentum at. Suspendisse potenti. Morbi mattis tempus libero. In eget ullamcorper elit.</p>

        </div>
    </div>
</div>

</body>
</html>

