* {
    box-sizing: border-box;
}

.body {
    background-image: url('/../images/image4.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.feature-single-box {
    text-align: center;
    font-size: larger;
    font-family: "Roboto Light";
    color: black;
    padding: 2rem;
}

.car-images {
    background-size: contain;
    width: 50px;
    height: 50px;
    border: 1px solid;
    resize: both;

    background-size: 50px 50px;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
}

.navbar {
    display: block;
    width: 100%;
    background-color: grey;
    color: black;
}

input, label {
    display: block;
    width: 15%;
}
