body {
    background-image: url('../images/opel-kadett-classic-german-coupe-car-isolated-white-66087591.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}