<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilbasen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel = stylesheet href="/../stylesheets/CarPageStyle.css" type="text/css">

</head>
<body id="newCar">
<div th:insert="fragments/navbar"></div>

<div align="center">
    <h1>Engberg Service aps.</h1>
    <h3>Bil-Kartoteket</h3>


    <div class="row" th:each="car:${cars}">
        <div class="column">
            <h3 th:text="${car.getImageUrl()}"></h3>
            <h3 th:text="${car.getCarBrand()}"></h3>
            <h3 th:text="${car.getCarType()}"></h3>
            <h3 th:text="${car.getKilometersDriven()}"></h3>
            <h3 th:text="${car.getModelYear()}"></h3>
        </div>
    </div>



    <div class="footer">
        <address>
            Adresse:<br>
            Engberg Service /v Jan Engberg<br>
            Bramstedvej 4, 4872 Idestrup<br>
            Danmark
        </address>
    </div>
</div>
</body>
</html>