<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilbasen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel = stylesheet href="/../stylesheets/CarPageStyle.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body id="newCar">
<div th:insert="fragments/navbar"></div>


    <h1>Engberg Service aps.</h1>
    <h3>Bil-Kartoteket</h3>

    <section id="feature">


        <div class="container-fluid">
            <div class="row">

                <div class="feature-single-box col-md-4" th:each="car:${cars}">
                    <div class="feature-box">
                        <a class="car-images" href><img style="size: 50px 50px" th:src="${car.getImageUrl()}"></a>
                        <h5>Mærke: <span th:text="${car.getCarBrand()}"></span></h5>
                        <h5>Type: <span th:text="${car.getCarType()}"></span></h5>
                        <h5>Km kørt: <span th:text="${car.getKilometersDriven()}"></span></h5>
                        <h5>Årgang: <span th:text="${car.getModelYear()}"></span></h5>
                        <a href="#" class="btn btn-primary">RING FOR PRIS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="footer">
        <address>
            Adresse:<br>
            Engberg Service /v Jan Engberg<br>
            Bramstedvej 4, 4872 Idestrup<br>
            Danmark
        </address>
    </div>
</body>
</html>