<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div style="background-color: black">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Home</a>
                <a class="navbar-brand" href="/home">Contacts</a>
                <a class="navbar-brand" href="/home">About us</a>
                <a class="navbar-brand" href="/home">Search Cars</a>
                <a class="navbar-brand" href="/home">Add New Car</a>
            </div>

        </div>
    </nav>
</div>
</body>
</html>