<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel = stylesheet href="/../stylesheets/style2.css" type="text/css">

    <script type="text/javascript" th:src="@{/javascript/script.js}"></script>


</head>
<body>

<div th:insert="fragments/navbar"></div>
<h1 align="center">Engberg Service aps.</h1>

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img th:src="@{/../images/pexels-cesar-perez-733745.jpg}" style="width:100%"  alt="Pic1 not showing">
        <div class="text">Caption One</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img th:src="@{/../images/pexels-aleksey-kuprikov-4024484.jpg}" style="width:100%" alt="Pic2 not showing">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img th:src="@{/../images/pexels-garvin-st-villier-3311574.jpg}" style="width:100%" alt="Pic3 not showing">
        <div class="text">Caption Three</div>
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>



<div class="footer">
    <address>
        Adresse:<br>
        Engberg Service /v Jan Engberg<br>
        Bramstedvej 4, 4872 Idestrup<br>
        Danmark
    </address>
</div>
<script>

    showSlides()
</script>


</body>

</html>